@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-primary: #ffffff;
	--brand: #003E29;
	--text: #000000;
	--border: #e5e5e5;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--bg-primary);
	color: var(--text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.card {
	background: #ffffff;
	border: 1px solid var(--border);
	border-radius: 12px;
	padding: 1rem;
	box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.btn-primary {
	background-color: var(--brand);
	color: #ffffff;
	border-radius: 24px;
	padding: 0.625rem 1.5rem;
	font-weight: 500;
	transition: all 0.2s;
	display: inline-block;
	text-align: center;
}

.btn-primary:hover {
	background-color: #002A1D;
}

.btn-secondary {
  background-color: transparent;
  color: var(--brand);
  border-radius: 24px;
  border: 1px solid var(--brand);
  padding: 0.625rem 1.5rem;
  font-weight: 500;
	transition: all 0.2s;
	display: inline-block;
	text-align: center;
}

.btn-secondary:hover {
	background-color: #f5f5f5;
}

